html{
  font-size:62.5%;/* 1rem vaut 10px - (16 x62.5/100 = 10) */	
}
body{
	margin:0;
	padding:0;
	font-size: 14px; /*pour IE */
	font-size: 1.4rem;/* 1.4 rem vaut 14px */ 
	overflow-x:hidden;
}
p, ul, li
{
font-size:1.8rem;
font-size:18px;
}
/* *** ALL ABOUT FONTS */
/* *** FONT-WEIGHT */
.fontBold{
	font-weight:bold;
}
.fontNormal{
	font-weight:Normal;
}
.font100{
	font-weight:100;
}
.font200{
	font-weight:200;
}
.font300{
	font-weight:300;
}
.font400{
	font-weight:400;
}
.font500{
	font-weight:500;
}
.font600{
	font-weight:600;
}
.font700{
	font-weight:700;
}
.font800{
	font-weight:800;
}
.font900{
	font-weight:900;
}
/* *** FONT-SIZE - 10 - 12 - 15 - 18 - 20 - etc */
.fontSize10px{
	font-size:10px;
	font-size:1rem;
}
.fontSize12px{
	font-size:12px;
	font-size:1.2rem;
}
.fontSize15px{
	font-size:15px;
	font-size:1.5rem;
}
.fontSize18px{
	font-size:18px;
	font-size:1.8rem;
}
.fontSize20px{
	font-size:20px;
	font-size:2rem;
}
.fontSize22px{
	font-size:22px;
	font-size:2.2rem;
}
.fontSize25px{
	font-size:25px;
	font-size:2.5rem;
}
.fontSize28px{
	font-size:28px;
	font-size:2.8rem;
}
.fontSize30px{
	font-size:30px;
	font-size:3rem;
}
.fontSize32px{
	font-size:32px;
	font-size:3.2rem;
}
.fontSize35px{
	font-size:35px;
	font-size:3.5rem;
}
.fontSize38px{
	font-size:38px;
	font-size:3.8rem;
}
.fontSize40px{
	font-size:40px;
	font-size:4rem;
}
.fontSize42px{
	font-size:42px;
	font-size:4.2rem;
}
.fontSize45px{
	font-size:45px;
	font-size:4.5rem;
}
.fontSize48px{
	font-size:48px;
	font-size:4.8rem;
}
.fontSize50px{
	font-size:50px;
	font-size:5rem;
}
.fontSize52px{
	font-size:52px;
	font-size:5.2rem;
}
.fontSize55px{
	font-size:55px;
	font-size:5.5rem;
}
.fontSize58px{
	font-size:58px;
	font-size:5.8rem;
}
.fontSize60px{
	font-size:60px;
	font-size:6rem;
}
/* *** FONT-SIZE RESPONSIVE */
@media only screen and (max-width: 1440px) {
	  .fontSize22pxM1440{
		font-size:22px!important;
		font-size:2.2rem!important;
	}
	.fontSize25pxM1440{
		font-size:25px!important;
		font-size:2.5rem!important;
	}
	.fontSize28pxM1440{
		font-size:28px!important;
		font-size:2.8rem!important;
	}
	.fontSize30pxM1440{
		font-size:30px!important;
		font-size:3rem!important;
	}
	.fontSize32pxM1440{
		font-size:32px!important;
		font-size:3.2rem!important;
	}
	.fontSize35pxM1440{
		font-size:35px!important;
		font-size:3.5rem!important;
	}
	.fontSize38pxM1440{
		font-size:38px!important;
		font-size:3.8rem!important;
	}
	.fontSize40pxM1440{
		font-size:40px!important;
		font-size:4rem!important;
	}
	.fontSize42pxM1440{
		font-size:42px!important;
		font-size:4.2rem!important;
	}
	.fontSize45pxM1440{
		font-size:45px!important;
		font-size:4.5rem!important;
	}
	.fontSize48pxM1440{
		font-size:48px!important;
		font-size:4.8rem!important;
	}
	.fontSize50pxM1440{
		font-size:50px!important;
		font-size:5rem!important;
	}
  }
@media only screen and (max-width: 1366px) {
	  .fontSize22pxM1366{
		font-size:22px!important;
		font-size:2.2rem!important;
	}
	.fontSize25pxM1366{
		font-size:25px!important;
		font-size:2.5rem!important;
	}
	.fontSize28pxM1366{
		font-size:28px!important;
		font-size:2.8rem!important;
	}
	.fontSize30pxM1366{
		font-size:30px!important;
		font-size:3rem!important;
	}
	.fontSize32pxM1366{
		font-size:32px!important;
		font-size:3.2rem!important;
	}
	.fontSize35pxM1366{
		font-size:35px!important;
		font-size:3.5rem!important;
	}
	.fontSize38pxM1366{
		font-size:38px!important;
		font-size:3.8rem!important;
	}
	.fontSize40pxM1366{
		font-size:40px!important;
		font-size:4rem!important;
	}
	.fontSize42pxM1366{
		font-size:42px!important;
		font-size:4.2rem!important;
	}
	.fontSize45pxM1366{
		font-size:45px!important;
		font-size:4.5rem!important;
	}
	.fontSize48pxM1366{
		font-size:48px!important;
		font-size:4.8rem!important;
	}
	.fontSize50pxM1366{
		font-size:50px!important;
		font-size:5rem!important;
	}
  }
@media only screen and (max-width: 1280px) {
	.fontSize22pxM1280{
		font-size:22px!important;
		font-size:2.2rem!important;
	}
	.fontSize25pxM1280{
		font-size:25px!important;
		font-size:2.5rem!important;
	}
	.fontSize28pxM1280{
		font-size:28px!important;
		font-size:2.8rem!important;
	}
	.fontSize30pxM1280{
		font-size:30px!important;
		font-size:3rem!important;
	}
	.fontSize32pxM1280{
		font-size:32px!important;
		font-size:3.2rem!important;
	}
	.fontSize35pxM1280{
		font-size:35px!important;
		font-size:3.5rem!important;
	}
	.fontSize38pxM1280{
		font-size:38px!important;
		font-size:3.8rem!important;
	}
	.fontSize40pxM1280{
		font-size:40px!important;
		font-size:4rem!important;
	}
	.fontSize42pxM1280{
		font-size:42px!important;
		font-size:4.2rem!important;
	}
	.fontSize45pxM1280{
		font-size:45px!important;
		font-size:4.5rem!important;
	}
	.fontSize48pxM1280{
		font-size:48px!important;
		font-size:4.8rem!important;
	}
	.fontSize50pxM1280{
		font-size:50px!important;
		font-size:5rem!important;
	}
  }
@media only screen and (max-width: 1024px) {
	.fontSize22pxM1024{
		font-size:22px!important;
		font-size:2.2rem!important;
	}
	.fontSize25pxM1024{
		font-size:25px!important;
		font-size:2.5rem!important;
	}
	.fontSize28pxM1024{
		font-size:28px!important;
		font-size:2.8rem!important;
	}
	.fontSize30pxM1024{
		font-size:30px!important;
		font-size:3rem!important;
	}
	.fontSize32pxM1024{
		font-size:32px!important;
		font-size:3.2rem!important;
	}
	.fontSize35pxM1024{
		font-size:35px!important;
		font-size:3.5rem!important;
	}
	.fontSize38pxM1024{
		font-size:38px!important;
		font-size:3.8rem!important;
	}
	.fontSize40pxM1024{
		font-size:40px!important;
		font-size:4rem!important;
	}
	.fontSize42pxM1024{
		font-size:42px!important;
		font-size:4.2rem!important;
	}
	.fontSize45pxM1024{
		font-size:45px!important;
		font-size:4.5rem!important;
	}
	.fontSize48pxM1024{
		font-size:48px!important;
		font-size:4.8rem!important;
	}
	.fontSize50pxM1024{
		font-size:50px!important;
		font-size:5rem!important;
	}
	 
  }
  @media only screen and (max-width: 900px) {
	  /* ajouter M900 pour mobile résolution 900 px  */
	.fontSizeMoyenMobile900{
		font-size:16px!important;
		font-size:1.6rem!important;
	}
	.fontSize10pxM900{
	font-size:10px!important;
	font-size:1rem!important;
	}
	.fontSize12pxM900{
		font-size:12px!important;
		font-size:1.2rem!important;
	}
	.fontSize15pxM900{
		font-size:15px!important;
		font-size:1.5rem!important;
	}
	.fontSize18pxM900{
		font-size:18px!important;
		font-size:1.8rem!important;
	}
	.fontSize20pxM900{
		font-size:20px!important;
		font-size:2rem!important;
	}
	.fontSize22pxM900 {
		font-size:22px!important;
		font-size:2.2rem!important;
	}
	.fontSize25pxM900{
		font-size:25px!important;
		font-size:2.5rem!important;
	}
	.fontSize28pxM900{
		font-size:28px!important;
		font-size:2.8rem!important;
	}
	.fontSize30pxM900{
		font-size:30px!important;
		font-size:3rem!important;
	}
	.fontSize32pxM900{
		font-size:32px!important;
		font-size:3.2rem!important;
	}
	.fontSize35pxM900{
		font-size:35px!important;
		font-size:3.5rem!important;
	}
	.fontSize38pxM900{
		font-size:38px!important;
		font-size:3.8rem!important;
	}
	.fontSize40pxM900{
		font-size:40px!important;
		font-size:4rem!important;
	}
	.fontSize42pxM900{
		font-size:42px!important;
		font-size:4.2rem!important;
	}
	.fontSize45pxM900{
		font-size:45px!important;
		font-size:4.5rem!important;
	}
	.fontSize48pxM900{
		font-size:48px!important;
		font-size:4.8rem!important;
	}
	.fontSize50pxM900{
		font-size:50px!important;
		font-size:5rem!important;
	}
}
/* *** LINE-HEIGHT */
/* *** LINE-HEIGHT */
.lineHeight10px{
	line-height:10px;
	line-height:1rem;
}
.lineHeight12px{
	line-height:12px;
	line-height:1.2rem;
}
.lineHeight15px{
	line-height:15px;
	line-height:1.5rem;
}
.lineHeight18px{
	line-height:18px;
	line-height:1.8rem;
}
.lineHeight20px{
	line-height:20px;
	line-height:2rem;
}
.lineHeight22px{
	line-height:22px;
	line-height:2.2rem;
}
.lineHeight25px{
	line-height:25px;
	line-height:2.5rem;
}
.lineHeight28px{
	line-height:28px;
	line-height:2.8rem;
}
.lineHeight30px{
	line-height:30px;
	line-height:3rem;
}
.lineHeight32px{
	line-height:32px;
	line-height:3.2rem;
}
.lineHeight35px{
	line-height:35px;
	line-height:3.5rem;
}
.lineHeight38px{
	line-height:38px;
	line-height:3.8rem;
}
.lineHeight40px{
	line-height:40px;
	line-height:4rem;
}
.lineHeight42px{
	line-height:42px;
	line-height:4.2rem;
}
.lineHeight45px{
	line-height:45px;
	line-height:4.5rem;
}
.lineHeight48px{
	line-height:48px;
	line-height:4.8rem;
}
.lineHeight50px{
	line-height:50px;
	line-height:5rem;
}
.lineHeight52px{
	line-height:52px;
	line-height:5.2rem;
}
.lineHeight55px{
	line-height:55px;
	line-height:5.5rem;
}
/* *** OPACITY */
.opacity0, .opacity0Hover:Hover{
	opacity:0;
	transition:var(--vitesseTransition3);
}
.opacity02,.opacity02Hover:Hover {
	opacity:0.2;
	transition:var(--vitesseTransition3);
}
.opacity05, .opacity05Hover:Hover{
	opacity:0.5;
	transition:var(--vitesseTransition3);
}
.opacity08, .opacity08Hover:Hover{
	opacity:0.8;
	transition:var(--vitesseTransition3);
}
.opacity1, .opacity1Hover:Hover {
	opacity:1;
	transition:var(--vitesseTransition3);
}
/* *** BORDER-RADIUS  */
/* PX */
.borderRadius10px{
	border-radius:10px;
}
.borderRadius15px {
	border-radius:15px;
}
borderRadius20px{
	border-radius:20px;
}
.borderRadius25px{
	border-radius:25px;
}
.borderRadius30px {
	border-radius:30px;
}
.borderRadius35{
	border-radius:35px;
}
.borderRadius40px {
	border-radius:40px;
}
.borderRadius45px {
	border-radius:45px;
}
.borderRadius50px{
	border-radius:50px;
}
/* % */
.borderRadius5{
	border-radius:5%;
}
.borderRadius10{
	border-radius:10%;
}
.borderRadius20{
	border-radius:20%;
}
.borderRadius50{
	border-radius:50%;
}
.borderRadius50{
	border-radius:75%;
}
.borderRadius100{
	border-radius:100%;
}
/* *** CURSOR */
.cursorPointer, .pointer{
	cursor:pointer;
}
.cursorDefault {
	cursor:default;
}
/* *** TAILLE WIDTH EN POURCENTAGE */
.w10 {
	width:10%;
}
.w20 {
	width:20%;
}
.w30 {
	width:30%;
}
.w33 {
	width:33%;
}
.w40 {
	width:40%;
}
.w45 {
	width:45%;
}
.w50{
	width:50%;
}
.w55{
	width:55%;
}
.w60{
	width:60%;
}
.w65{
	width:65%;
}
.w70{
	width:70%;
}
.w77{
	width:77%;
}
.w80 {
	width:80%;
}
.w90 {
	width:90%;
}
.w100{
	width:100%;
}
/* *** TAILLE WIDTH en % - RESPONSIVE  */
@media only screen and (max-width: 1440px) {
	.w10M1440 {
		width:10%;
	}
	.w20M1440 {
		width:20%;
	}
	.w30M1440 {
		width:30%;
	}
	.w33M1440 {
		width:33%;
	}
	.w40M1440 {
		width:40%;
	}
	.w45M1440 {
		width:45%;
	}
	.w50M1440{
		width:50%;
	}
	.w55M1440{
		width:55%;
	}
	.w60M1440{
		width:60%;
	}
	.w65M1440{
		width:65%;
	}
	.w70M1440{
		width:70%;
	}
	.w77M1440{
		width:77%;
	}
	.w80M1440 {
		width:80%;
	}
	.w90M1440 {
		width:90%;
	}
	.w100M1440{
		width:100%;
	}		
}
@media only screen and (max-width: 1366px) {
	.w10M1366 {
		width:10%;
	}
	.w20M1366 {
		width:20%;
	}
	.w30M1366 {
		width:30%;
	}
	.w33M1366 {
		width:33%;
	}
	.w40M1366 {
		width:40%;
	}
	.w45M1366 {
		width:45%;
	}
	.w50M1366{
		width:50%;
	}
	.w55M1366{
		width:55%;
	}
	.w60M1366{
		width:60%;
	}
	.w65M1366{
		width:65%;
	}
	.w70M1366{
		width:70%;
	}
	.w77M1366{
		width:77%;
	}
	.w80M1366 {
		width:80%;
	}
	.w90M1366 {
		width:90%;
	}
	.w100M1366{
		width:100%;
	}			
}
@media only screen and (max-width: 1280px) {
	.w10M1280 {
		width:10%;
	}
	.w20M1280 {
		width:20%;
	}
	.w30M1280 {
		width:30%;
	}
	.w33M1280 {
		width:33%;
	}
	.w40M1280 {
		width:40%;
	}
	.w45M1280 {
		width:45%;
	}
	.w50M1280{
		width:50%;
	}
	.w55M1280{
		width:55%;
	}
	.w60M1280{
		width:60%;
	}
	.w65M1280{
		width:65%;
	}
	.w70M1280{
		width:70%;
	}
	.w77M1280{
		width:77%;
	}
	.w80M1280 {
		width:80%;
	}
	.w90M1280 {
		width:90%;
	}
	.w100M1280{
		width:100%;
	}		
}
@media only screen and (max-width: 1024px) {
	.w10M1024 {
	width:10%;
	}
	.w20M1024 {
	width:20%;
	}
	.w30M1024 {
	width:30%;
	}
	.w33M1024 {
	width:33%;
	}
	.w40M1024 {
	width:40%;
	}
	.w45M1024 {
	width:45%;
	}
	.w50M1024{
	width:50%;
	}
	.w55M1024{
	width:55%;
	}
	.w60M1024{
	width:60%;
	}
	.w65M1024{
	width:65%;
	}
	.w70M1024{
	width:70%;
	}
	.w77M1024{
	width:77%;
	}
	.w80M1024 {
	width:80%;
	}
	.w90M1024 {
	width:90%;
	}
	.w100M1024{
	width:100%;
	}			
}
@media only screen and (max-width: 900px) {
	
	.w10M900 {
		width:10%;
	}
	.w20M900 {
		width:20%;
	}
	.w30M900 {
		width:30%;
	}
	.w33M900 {
		width:33%;
	}
	.w40M900 {
		width:40%;
	}
	.w45M900 {
		width:45%;
	}
	.w50M900{
		width:50%;
	}
	.w55M900{
		width:55%;
	}
	.w60M900{
		width:60%;
	}
	.w65M900{
		width:65%;
	}
	.w70M900{
		width:70%;
	}
	.w77M900{
		width:77%;
	}
	.w80M900 {
		width:80%;
	}
	.w90M900 {
		width:90%;
	}
	.w100M900{
		width:100%;
	}		
}
/* *** TAILLE WIDTH EN PX */
.w5px{
	width:5px;
}
.w10px{
	width:10px;
}
.w20px{
	width:20px;
}
.w40px{
	width:40px;
}
.w50px{
	width:50px;
}
.w60px{
	width:60px;
}
.w70px{
	width:70px;
}
.w80px{
	width:80px;
}
.w90px{
	width:90px;
}
.w100px{
	width:100px;
}
.w150px{
	width:150px;
}
.w200px{
	width:200px;
}
.w250px{
	width:250px;
}
.w300px{
	width:300px;
}
.w350px{
	width:350px;
}
.w400px{
	width:400px;
}
.w450px{
	width:450px;
}
.w500px{
	width:500px;
}
.w550px{
	width:550px;
}
.w600px{
	width:600px;
}
.w650px{
	width:650px;
}
.w700px{
	width:700px;
}
.w750px{
	width:750px;
}
.w800px{
	width:850px;
}
.w800px{
	width:850px;
}
.w900px{
	width:900px;
}
.w950px{
	width:950px;
}
.w1000px{
	width:1000px;
}
/* ********************************************* TAILLE WIDTH en px - MOBILE  */
@media only screen and (max-width: 1440px) {
		.w5pxM1440{
		width:5px;
	}
	.w10pxM1440{
		width:10px;
	}
	.w20pxM1440{
		width:20px;
	}
	.w40pxM1440{
		width:40px;
	}
	.w50pxM1440{
		width:50px;
	}
	.w60pxM1440{
		width:60px;
	}
	.w70pxM1440{
		width:70px;
	}
	.w80pxM1440{
		width:80px;
	}
	.w90pxM1440{
		width:90px;
	}
	.w100pxM1440{
	width:100px;
	}
	.w150pxM1440{
		width:150px;
	}
	.w200pxM1440{
		width:200px;
	}
	.w250pxM1440{
		width:250px;
	}
	.w300pxM1440{
		width:300px;
	}
	.w350pxM1440{
		width:350px;
	}
	.w400pxM1440{
		width:400px;
	}
	.w450pxM1440{
		width:450px;
	}
	.w500pxM1440{
		width:500px;
	}
	.w550pxM1440{
		width:550px;
	}
	.w600pxM1440{
		width:600px;
	}
	.w650pxM1440{
		width:650px;
	}
	.w700pxM1440{
		width:700px;
	}
	.w750pxM1440{
		width:750px;
	}
	.w800pxM1440{
		width:850px;
	}
	.w800pxM1440{
		width:850px;
	}
	.w900pxM1440{
		width:900px;
	}
	.w950pxM1440{
		width:950px;
	}
	.w1000pxM1440{
		width:1000px;
	}
}
@media only screen and (max-width: 1366px) {
		.w5pxM1366{
		width:5px;
	}
	.w10pxM1366{
		width:10px;
	}
	.w20pxM1366{
		width:20px;
	}
	.w40pxM1366{
		width:40px;
	}
	.w50pxM1366{
		width:50px;
	}
	.w60pxM1366{
		width:60px;
	}
	.w70pxM1366{
		width:70px;
	}
	.w80pxM1366{
		width:80px;
	}
	.w90pxM1366{
		width:90px;
	}
	.w100pxM1366{
	width:100px;
	}
	.w150pxM1366{
		width:150px;
	}
	.w200pxM1366{
		width:200px;
	}
	.w250pxM1366{
		width:250px;
	}
	.w300pxM1366{
		width:300px;
	}
	.w350pxM1366{
		width:350px;
	}
	.w400pxM1366{
		width:400px;
	}
	.w450pxM1366{
		width:450px;
	}
	.w500pxM1366{
		width:500px;
	}
	.w550pxM1366{
		width:550px;
	}
	.w600pxM1366{
		width:600px;
	}
	.w650pxM1366{
		width:650px;
	}
	.w700pxM1366{
		width:700px;
	}
	.w750pxM1366{
		width:750px;
	}
	.w800pxM1366{
		width:850px;
	}
	.w800pxM1366{
		width:850px;
	}
	.w900pxM1366{
		width:900px;
	}
	.w950pxM1366{
		width:950px;
	}
	.w1000pxM1366{
		width:1000px;
	}
}
@media only screen and (max-width: 1280px) {
		.w5pxM1280{
		width:5px;
	}
	.w10pxM1280{
		width:10px;
	}
	.w20pxM1280{
		width:20px;
	}
	.w40pxM1280{
		width:40px;
	}
	.w50pxM1280{
		width:50px;
	}
	.w60pxM1280{
		width:60px;
	}
	.w70pxM1280{
		width:70px;
	}
	.w80pxM1280{
		width:80px;
	}
	.w90pxM1280{
		width:90px;
	}
		.w100pxM1280{
	width:100px;
	}
	.w150pxM1280{
		width:150px;
	}
	.w200pxM1280{
		width:200px;
	}
	.w250pxM1280{
		width:250px;
	}
	.w300pxM1280{
		width:300px;
	}
	.w350pxM1280{
		width:350px;
	}
	.w400pxM1280{
		width:400px;
	}
	.w450pxM1280{
		width:450px;
	}
	.w500pxM1280{
		width:500px;
	}
	.w550pxM1280{
		width:550px;
	}
	.w600pxM1280{
		width:600px;
	}
	.w650pxM1280{
		width:650px;
	}
	.w700pxM1280{
		width:700px;
	}
	.w750pxM1280{
		width:750px;
	}
	.w800pxM1280{
		width:850px;
	}
	.w800pxM1280{
		width:850px;
	}
	.w900pxM1280{
		width:900px;
	}
	.w950pxM1280{
		width:950px;
	}
	.w1000pxM1280{
		width:1000px;
	}
}
@media only screen and (max-width: 1024px) {
		.w5pxM1024{
		width:5px;
	}
	.w10pxM1024{
		width:10px;
	}
	.w20pxM1024{
		width:20px;
	}
	.w40pxM1024{
		width:40px;
	}
	.w50pxM1024{
		width:50px;
	}
	.w60pxM1024{
		width:60px;
	}
	.w70pxM1024{
		width:70px;
	}
	.w80pxM1024{
		width:80px;
	}
	.w90pxM1024{
		width:90px;
	}
	.w100pxM1024{
	width:100px;
	}
	.w150pxM1024{
		width:150px;
	}
	.w200pxM1024{
		width:200px;
	}
	.w250pxM1024{
		width:250px;
	}
	.w300pxM1024{
		width:300px;
	}
	.w350pxM1024{
		width:350px;
	}
	.w400pxM1024{
		width:400px;
	}
	.w450pxM1024{
		width:450px;
	}
	.w500pxM1024{
		width:500px;
	}
	.w550pxM1024{
		width:550px;
	}
	.w600pxM1024{
		width:600px;
	}
	.w650pxM1024{
		width:650px;
	}
	.w700pxM1024{
		width:700px;
	}
	.w750pxM1024{
		width:750px;
	}
	.w800pxM1024{
		width:850px;
	}
	.w800pxM1024{
		width:850px;
	}
	.w900pxM1024{
		width:900px;
	}
	.w950pxM1024{
		width:950px;
	}
	.w1000pxM1024{
		width:1000px;
	}
}
@media only screen and (max-width: 900px) {
		.w5pxM900{
		width:5px;
	}
	.w10pxM900{
		width:10px;
	}
	.w20pxM900{
		width:20px;
	}
	.w40pxM900{
		width:40px;
	}
	.w50pxM900{
		width:50px;
	}
	.w60pxM900{
		width:60px;
	}
	.w70pxM900{
		width:70px;
	}
	.w80pxM900{
		width:80px;
	}
	.w90pxM900{
		width:90px;
	}
	.w100pxM900{
	width:100px;
	}
	.w150pxM900{
		width:150px;
	}
	.w200pxM900{
		width:200px;
	}
	.w250pxM900{
		width:250px;
	}
	.w300pxM900{
		width:300px;
	}
	.w350pxM900{
		width:350px;
	}
	.w400pxM900{
		width:400px;
	}
	.w450pxM900{
		width:450px;
	}
	.w500pxM900{
		width:500px;
	}
	.w550pxM900{
		width:550px;
	}
	.w600pxM900{
		width:600px;
	}
	.w650pxM900{
		width:650px;
	}
	.w700pxM900{
		width:700px;
	}
	.w750pxM900{
		width:750px;
	}
	.w800pxM900{
		width:850px;
	}
	.w800pxM900{
		width:850px;
	}
	.w900pxM900{
		width:900px;
	}
	.w950pxM900{
		width:950px;
	}
	.w1000pxM900{
		width:1000px;
	}
}
/* **** MAX-WIDTH */
.maxWidth100px{
	max-width:100px;
}
.maxWidth150px{
	max-width:150px;
}
.maxWidth200px{
	max-width:200px;
}
.maxWidth250px{
	max-width:250px;
}
.maxWidth300px{
	max-width:300px;
}
.maxWidth350px{
	max-width:350px;
}
.maxWidth400px{
	max-width:400px;
}
.maxWidth450px{
	max-width:450px;
}
.maxWidth500px{
	max-width:500px;
}
.maxWidth550px{
	max-width:550px;
}
.maxWidth600px{
	max-width:600px;
}
.maxWidth650px{
	max-width:650px;
}
.maxWidth700px{
	max-width:700px;
}
.maxWidth750px{
	max-width:750px;
}
.maxWidth800px{
	max-width:800px;
}
.maxWidth850px{
	max-width:850px;
}
.maxWidth900px{
	max-width:900px;
}
.maxWidth950px{
	max-width:950px;
}
@media only screen and (max-width: 1440px) {	
	.maxWidth100pxM1440{
		max-width:100px;
	}
	.maxWidth150pxM1440{
		max-width:150px;
	}
	.maxWidth200pxM1440{
		max-width:200px;
	}
	.maxWidth250pxM1440{
		max-width:250px;
	}
	.maxWidth300pxM1440{
		max-width:300px;
	}
	.maxWidth350pxM1440{
		max-width:350px;
	}
	.maxWidth400pxM1440{
		max-width:400px;
	}
	.maxWidth450pxM1440{
		max-width:450px;
	}
	.maxWidth500pxM1440{
		max-width:500px;
	}
	.maxWidth550pxM1440{
		max-width:550px;
	}
	.maxWidth600pxM1440{
		max-width:600px;
	}
	.maxWidth650pxM1440{
		max-width:650px;
	}
	.maxWidth700pxM1440{
		max-width:700px;
	}
	.maxWidth750pxM1440{
		max-width:750px;
	}
	.maxWidth800pxM1440{
		max-width:800px;
	}
	.maxWidth850pxM1440{
		max-width:850px;
	}
	.maxWidth900pxM1440{
		max-width:900px;
	}
	.maxWidth950pxM1440{
		max-width:950px;
	}
}
@media only screen and (max-width: 1366px) {	
	.maxWidth100pxM1366{
	max-width:100px;
	}
	.maxWidth150pxM1366{
		max-width:150px;
	}
	.maxWidth200pxM1366{
		max-width:200px;
	}
	.maxWidth250pxM1366{
		max-width:250px;
	}
	.maxWidth300pxM1366{
		max-width:300px;
	}
	.maxWidth350pxM1366{
		max-width:350px;
	}
	.maxWidth400pxM1366{
		max-width:400px;
	}
	.maxWidth450pxM1366{
		max-width:450px;
	}
	.maxWidth500pxM1366{
		max-width:500px;
	}
	.maxWidth550pxM1366{
		max-width:550px;
	}
	.maxWidth600pxM1366{
		max-width:600px;
	}
	.maxWidth650pxM1366{
		max-width:650px;
	}
	.maxWidth700pxM1366{
		max-width:700px;
	}
	.maxWidth750pxM1366{
		max-width:750px;
	}
	.maxWidth800pxM1366{
		max-width:800px;
	}
	.maxWidth850pxM1366{
		max-width:850px;
	}
	.maxWidth900pxM1366{
		max-width:900px;
	}
	.maxWidth950pxM1366{
		max-width:950px;
	}
}
@media only screen and (max-width: 1280px) {	
	.maxWidth100pxM1280{
		max-width:100px;
	}
	.maxWidth150pxM1280{
		max-width:150px;
	}
	.maxWidth200pxM1280{
		max-width:200px;
	}
	.maxWidth250pxM1280{
		max-width:250px;
	}
	.maxWidth300pxM1280{
		max-width:300px;
	}
	.maxWidth350pxM1280{
		max-width:350px;
	}
	.maxWidth400pxM1280{
		max-width:400px;
	}
	.maxWidth450pxM1280{
		max-width:450px;
	}
	.maxWidth500pxM1280{
		max-width:500px;
	}
	.maxWidth550pxM1280{
		max-width:550px;
	}
	.maxWidth600pxM1280{
		max-width:600px;
	}
	.maxWidth650pxM1280{
		max-width:650px;
	}
	.maxWidth700pxM1280{
		max-width:700px;
	}
	.maxWidth750pxM1280{
		max-width:750px;
	}
	.maxWidth800pxM1280{
		max-width:800px;
	}
	.maxWidth850pxM1280{
		max-width:850px;
	}
	.maxWidth900pxM1280{
		max-width:900px;
	}
	.maxWidth950pxM1280{
		max-width:950px;
	}
}
@media only screen and (max-width: 1024px) {
	.maxWidth100pxM1024{
		max-width:100px;
	}
	.maxWidth150pxM1024{
		max-width:150px;
	}
	.maxWidth200pxM1024{
		max-width:200px;
	}
	.maxWidth250pxM1024{
		max-width:250px;
	}
	.maxWidth300pxM1024{
		max-width:300px;
	}
	.maxWidth350pxM1024{
		max-width:350px;
	}
	.maxWidth400pxM1024{
		max-width:400px;
	}
	.maxWidth450pxM1024{
		max-width:450px;
	}
	.maxWidth500pxM1024{
		max-width:500px;
	}
	.maxWidth550pxM1024{
		max-width:550px;
	}
	.maxWidth600pxM1024{
		max-width:600px;
	}
	.maxWidth650pxM1024{
		max-width:650px;
	}
	.maxWidth700pxM1024{
		max-width:700px;
	}
	.maxWidth750pxM1024{
		max-width:750px;
	}
	.maxWidth800pxM1024{
		max-width:800px;
	}
	.maxWidth850pxM1024{
		max-width:850px;
	}
	.maxWidth900pxM1024{
		max-width:900px;
	}
	.maxWidth950pxM1024{
		max-width:950px;
	}
}
@media only screen and (max-width: 900px) {
	.maxWidth100pxM900{
		max-width:100px;
	}
	.maxWidth150pxM900{
		max-width:150px;
	}
	.maxWidth200pxM900{
		max-width:200px;
	}
	.maxWidth250pxM900{
		max-width:250px;
	}
	.maxWidth300pxM900{
		max-width:300px;
	}
	.maxWidth350pxM900{
		max-width:350px;
	}
	.maxWidth400pxM900{
		max-width:400px;
	}
	.maxWidth450pxM900{
		max-width:450px;
	}
	.maxWidth500pxM900{
		max-width:500px;
	}
	.maxWidth550pxM900{
		max-width:550px;
	}
	.maxWidth600pxM900{
		max-width:600px;
	}
	.maxWidth650pxM900{
		max-width:650px;
	}
	.maxWidth700pxM900{
		max-width:700px;
	}
	.maxWidth750pxM900{
		max-width:750px;
	}
	.maxWidth800pxM900{
		max-width:800px;
	}
	.maxWidth850pxM900{
		max-width:850px;
	}
	.maxWidth900pxM900{
		max-width:900px;
	}
	.maxWidth950pxM900{
		max-width:950px;
	}
}
/* *** TAILLE WIDTH EN VIEW WIDTH */
w5vw{
	width:5vw;
}
.w10vw{
	width:10vw;
}
.w15vw{
	width:15vw;
}
.w20vw{
	width:20vw;
}
.w25vw{
	width:25vw;
}
.w30vw{
	width:30vw;
}
.w35vw{
	width:35vw;
}
.w40vw{
	width:40vw;
}
.w45vw{
	width:45vw;
}
.w50vw{
	width:50vw;
}
.w55vw{
	width:55vw;
}
.w60vw{
	width:60vw;
}
.w65vw{
	width:65vw;
}
.w70vw{
	width:70vw;
}
.w75vw{
	width:75vw;
}
.w80vw{
	width:80vw;
}
.w85vw{
	width:85vw;
}
.w90vw{
	width:90vw;
}
.w95vw{
	width:95vw;
}
.w100vw{
	width:100vw;
}
.w150vw{
	width:150vw;
}
.w200vw{
	width:200vw;
}
.w250vw{
	width:250vw;
}
.w300vw{
	width:300vw;
}
.w350vw{
	width:350vw;
}
.w400vw{
	width:400vw;
}
.w450vw{
	width:450vw;
}
.w500vw{
	width:500vw;
}
@media only screen and (max-width: 1440px) {
	w5vwM1440px{
		width:5vw;
	}
	.w10vwM1440px{
		width:10vw;
	}
	.w15vwM1440px{
		width:15vw;
	}
	.w20vwM1440px{
		width:20vw;
	}
	.w25vwM1440px{
		width:25vw;
	}
	.w30vwM1440px{
		width:30vw;
	}
	.w35vwM1440px{
		width:35vw;
	}
	.w40vwM1440px{
		width:40vw;
	}
	.w45vwM1440px{
		width:45vw;
	}
	.w50vwM1440px{
		width:50vw;
	}
	.w55vwM1440px{
		width:55vw;
	}
	.w60vwM1440px{
		width:60vw;
	}
	.w65vwM1440px{
		width:65vw;
	}
	.w70vwM1440px{
		width:70vw;
	}
	.w75vwM1440px{
		width:75vw;
	}
	.w80vwM1440px{
		width:80vw;
	}
	.w85vwM1440px{
		width:85vw;
	}
	.w90vwM1440px{
		width:90vw;
	}
	.w95vwM1440px{
		width:95vw;
	}
	.w100vwM1440px{
		width:100vw;
	}
	.w150vwM1440px{
		width:150vw;
	}
	.w200vwM1440px{
		width:200vw;
	}
	.w250vwM1440px{
		width:250vw;
	}
	.w300vwM1440px{
		width:300vw;
	}
	.w350vwM1440px{
		width:350vw;
	}
	.w400vwM1440px{
		width:400vw;
	}
	.w450vwM1440px{
		width:450vw;
	}
	.w500vwM1440px{
		width:500vw;
	}
}
@media only screen and (max-width: 1366px) {
	w5vwM1366px{
		width:5vw;
	}
	.w10vwM1366px{
		width:10vw;
	}
	.w15vwM1366px{
		width:15vw;
	}
	.w20vwM1366px{
		width:20vw;
	}
	.w25vwM1366px{
		width:25vw;
	}
	.w30vwM1366px{
		width:30vw;
	}
	.w35vwM1366px{
		width:35vw;
	}
	.w40vwM1366px{
		width:40vw;
	}
	.w45vwM1366px{
		width:45vw;
	}
	.w50vwM1366px{
		width:50vw;
	}
	.w55vwM1366px{
		width:55vw;
	}
	.w60vwM1366px{
		width:60vw;
	}
	.w65vwM1366px{
		width:65vw;
	}
	.w70vwM1366px{
		width:70vw;
	}
	.w75vwM1366px{
		width:75vw;
	}
	.w80vwM1366px{
		width:80vw;
	}
	.w85vwM1366px{
		width:85vw;
	}
	.w90vwM1366px{
		width:90vw;
	}
	.w95vwM1366px{
		width:95vw;
	}
	.w100vwM1366px{
		width:100vw;
	}
	.w150vwM1366px{
		width:150vw;
	}
	.w200vwM1366px{
		width:200vw;
	}
	.w250vwM1366px{
		width:250vw;
	}
	.w300vwM1366px{
		width:300vw;
	}
	.w350vwM1366px{
		width:350vw;
	}
	.w400vwM1366px{
		width:400vw;
	}
	.w450vwM1366px{
		width:450vw;
	}
	.w500vwM1366px{
		width:500vw;
	}
}
@media only screen and (max-width: 1280px) {
	w5vwM1280px{
		width:5vw;
	}
	.w10vwM1280px{
		width:10vw;
	}
	.w15vwM1280px{
		width:15vw;
	}
	.w20vwM1280px{
		width:20vw;
	}
	.w25vwM1280px{
		width:25vw;
	}
	.w30vwM1280px{
		width:30vw;
	}
	.w35vwM1280px{
		width:35vw;
	}
	.w40vwM1280px{
		width:40vw;
	}
	.w45vwM1280px{
		width:45vw;
	}
	.w50vwM1280px{
		width:50vw;
	}
	.w55vwM1280px{
		width:55vw;
	}
	.w60vwM1280px{
		width:60vw;
	}
	.w65vwM1280px{
		width:65vw;
	}
	.w70vwM1280px{
		width:70vw;
	}
	.w75vwM1280px{
		width:75vw;
	}
	.w80vwM1280px{
		width:80vw;
	}
	.w85vwM1280px{
		width:85vw;
	}
	.w90vwM1280px{
		width:90vw;
	}
	.w95vwM1280px{
		width:95vw;
	}
	.w100vwM1280px{
		width:100vw;
	}
	.w150vwM1280px{
		width:150vw;
	}
	.w200vwM1280px{
		width:200vw;
	}
	.w250vwM1280px{
		width:250vw;
	}
	.w300vwM1280px{
		width:300vw;
	}
	.w350vwM1280px{
		width:350vw;
	}
	.w400vwM1280px{
		width:400vw;
	}
	.w450vwM1280px{
		width:450vw;
	}
	.w500vwM1280px{
		width:500vw;
	}
}
@media only screen and (max-width: 1024px) {
	w5vwM1024px{
		width:5vw;
	}
	.w10vwM1024px{
		width:10vw;
	}
	.w15vwM1024px{
		width:15vw;
	}
	.w20vwM1024px{
		width:20vw;
	}
	.w25vwM1024px{
		width:25vw;
	}
	.w30vwM1024px{
		width:30vw;
	}
	.w35vwM1024px{
		width:35vw;
	}
	.w40vwM1024px{
		width:40vw;
	}
	.w45vwM1024px{
		width:45vw;
	}
	.w50vwM1024px{
		width:50vw;
	}
	.w55vwM1024px{
		width:55vw;
	}
	.w60vwM1024px{
		width:60vw;
	}
	.w65vwM1024px{
		width:65vw;
	}
	.w70vwM1024px{
		width:70vw;
	}
	.w75vwM1024px{
		width:75vw;
	}
	.w80vwM1024px{
		width:80vw;
	}
	.w85vwM1024px{
		width:85vw;
	}
	.w90vwM1024px{
		width:90vw;
	}
	.w95vwM1024px{
		width:95vw;
	}
	.w100vwM1024px{
		width:100vw;
	}
	.w150vwM1024px{
		width:150vw;
	}
	.w200vwM1024px{
		width:200vw;
	}
	.w250vwM1024px{
		width:250vw;
	}
	.w300vwM1024px{
		width:300vw;
	}
	.w350vwM1024px{
		width:350vw;
	}
	.w400vwM1024px{
		width:400vw;
	}
	.w450vwM1024px{
		width:450vw;
	}
	.w500vwM1024px{
		width:500vw;
	}
}
@media only screen and (max-width: 900px) {
	w5vwM900px{
		width:5vw;
	}
	.w10vwM900px{
		width:10vw;
	}
	.w15vwM900px{
		width:15vw;
	}
	.w20vwM900px{
		width:20vw;
	}
	.w25vwM900px{
		width:25vw;
	}
	.w30vwM900px{
		width:30vw;
	}
	.w35vwM900px{
		width:35vw;
	}
	.w40vwM900px{
		width:40vw;
	}
	.w45vwM900px{
		width:45vw;
	}
	.w50vwM900px{
		width:50vw;
	}
	.w55vwM900px{
		width:55vw;
	}
	.w60vwM900px{
		width:60vw;
	}
	.w65vwM900px{
		width:65vw;
	}
	.w70vwM900px{
		width:70vw;
	}
	.w75vwM900px{
		width:75vw;
	}
	.w80vwM900px{
		width:80vw;
	}
	.w85vwM900px{
		width:85vw;
	}
	.w90vwM900px{
		width:90vw;
	}
	.w95vwM900px{
		width:95vw;
	}
	.w100vwM900px{
		width:100vw;
	}
	.w150vwM900px{
		width:150vw;
	}
	.w200vwM900px{
		width:200vw;
	}
	.w250vwM900px{
		width:250vw;
	}
	.w300vwM900px{
		width:300vw;
	}
	.w350vwM900px{
		width:350vw;
	}
	.w400vwM900px{
		width:400vw;
	}
	.w450vwM900px{
		width:450vw;
	}
	.w500vwM900px{
		width:500vw;
	}
}
/* *** HEIGHT PX*/
.h10px {
	height:10px;
}
.h20px {
	height:20px;
}
.h30px {
	height:30px;
}
.h40px {
	height:40px;
}
.h50px {
	height:50px;
}
.h60px {
	height:60px;
}
.h70px {
	height:70px;
}
.h80px {
	height:80px;
}
.h90px {
	height:90px;
}
.h100px {
	height:100px;
}
.h150px {
	height:150px;
}
.h200px {
	height:200px;
}
.h250px {
	height:250px;
}
.h300px {
	height:300px;
}
.h350px {
	height:350px;
}
.h400px {
	height:400px;
}
.h450px {
	height:450px;
}
.h500px {
	height:500px;
}
.h550px {
	height:550px;
}
.h600px {
	height:600px;
}
.h650px {
	height:650px;
}
.h700px {
	height:700px;
}
.h750px {
	height:750px;
}
.h800px {
	height:800px;
}
.h850px {
	height:850px;
}
.h900px {
	height:900px;
}
.h950px {
	height:950px;
}
.h1000px {
	height:1000px;
}
/* *** HEIGHT PX*/
@media only screen and (max-width: 1440px) {
	.h10pxM1440px{
		height:10px;
	}
	.h20pxM1440px{
		height:20px;
	}
	.h30pxM1440px{
		height:30px;
	}
	.h40pxM1440px{
		height:40px;
	}
	.h50pxM1440px{
		height:50px;
	}
	.h60pxM1440px{
		height:60px;
	}
	.h70pxM1440px{
		height:70px;
	}
	.h80pxM1440px{
		height:80px;
	}
	.h90pxM1440px{
		height:90px;
	}
	.h100pxM1440px{
		height:100px;
	}
	.h150pxM1440px{
		height:150px;
	}
	.h200pxM1440px{
		height:200px;
	}
	.h250pxM1440px{
		height:250px;
	}
	.h300pxM1440px{
		height:300px;
	}
	.h350pxM1440px{
		height:350px;
	}
	.h400pxM1440px{
		height:400px;
	}
	.h450pxM1440px{
		height:450px;
	}
	.h500pxM1440px{
		height:500px;
	}
	.h550pxM1440px{
		height:550px;
	}
	.h600pxM1440px{
		height:600px;
	}
	.h650pxM1440px{
		height:650px;
	}
	.h700pxM1440px{
		height:700px;
	}
	.h750pxM1440px{
		height:750px;
	}
	.h800pxM1440px{
		height:800px;
	}
	.h850pxM1440px{
		height:850px;
	}
	.h900pxM1440px{
		height:900px;
	}
	.h950pxM1440px{
		height:950px;
	}
	.h1000pxM1440px{
		height:1000px;
	}
}
@media only screen and (max-width: 1366px) {
	.h10pxM1366px{
		height:10px;
	}
	.h20pxM1366px{
		height:20px;
	}
	.h30pxM1366px{
		height:30px;
	}
	.h40pxM1366px{
		height:40px;
	}
	.h50pxM1366px{
		height:50px;
	}
	.h60pxM1366px{
		height:60px;
	}
	.h70pxM1366px{
		height:70px;
	}
	.h80pxM1366px{
		height:80px;
	}
	.h90pxM1366px{
		height:90px;
	}
	.h100pxM1366px{
		height:100px;
	}
	.h150pxM1366px{
		height:150px;
	}
	.h200pxM1366px{
		height:200px;
	}
	.h250pxM1366px{
		height:250px;
	}
	.h300pxM1366px{
		height:300px;
	}
	.h350pxM1366px{
		height:350px;
	}
	.h400pxM1366px{
		height:400px;
	}
	.h450pxM1366px{
		height:450px;
	}
	.h500pxM1366px{
		height:500px;
	}
	.h550pxM1366px{
		height:550px;
	}
	.h600pxM1366px{
		height:600px;
	}
	.h650pxM1366px{
		height:650px;
	}
	.h700pxM1366px{
		height:700px;
	}
	.h750pxM1366px{
		height:750px;
	}
	.h800pxM1366px{
		height:800px;
	}
	.h850pxM1366px{
		height:850px;
	}
	.h900pxM1366px{
		height:900px;
	}
	.h950pxM1366px{
		height:950px;
	}
	.h1000pxM1366px{
		height:1000px;
	}
}
@media only screen and (max-width: 1280px) {
	.h10pxM1280px
		height:10px;
	}
	.h20pxM1280px
		height:20px;
	}
	.h30pxM1280px
		height:30px;
	}
	.h40pxM1280px
		height:40px;
	}
	.h50pxM1280px
		height:50px;
	}
	.h60pxM1280px
		height:60px;
	}
	.h70pxM1280px
		height:70px;
	}
	.h80pxM1280px
		height:80px;
	}
	.h90pxM1280px
		height:90px;
	}
	.h100pxM1280px
		height:100px;
	}
	.h150pxM1280px
		height:150px;
	}
	.h200pxM1280px
		height:200px;
	}
	.h250pxM1280px
		height:250px;
	}
	.h300pxM1280px
		height:300px;
	}
	.h350pxM1280px
		height:350px;
	}
	.h400pxM1280px
		height:400px;
	}
	.h450pxM1280px
		height:450px;
	}
	.h500pxM1280px
		height:500px;
	}
	.h550pxM1280px
		height:550px;
	}
	.h600pxM1280px
		height:600px;
	}
	.h650pxM1280px
		height:650px;
	}
	.h700pxM1280px
		height:700px;
	}
	.h750pxM1280px
		height:750px;
	}
	.h800pxM1280px
		height:800px;
	}
	.h850pxM1280px
		height:850px;
	}
	.h900pxM1280px
		height:900px;
	}
	.h950pxM1280px
		height:950px;
	}
	.h1000pxM1280px
		height:1000px;
	}
}
@media only screen and (max-width: 1024px) {
	.h10pxM1024px
		height:10px;
	}
	.h20pxM1024px
		height:20px;
	}
	.h30pxM1024px
		height:30px;
	}
	.h40pxM1024px
		height:40px;
	}
	.h50pxM1024px
		height:50px;
	}
	.h60pxM1024px
		height:60px;
	}
	.h70pxM1024px
		height:70px;
	}
	.h80pxM1024px
		height:80px;
	}
	.h90pxM1024px
		height:90px;
	}
	.h100pxM1024px
		height:100px;
	}
	.h150pxM1024px
		height:150px;
	}
	.h200pxM1024px
		height:200px;
	}
	.h250pxM1024px
		height:250px;
	}
	.h300pxM1024px
		height:300px;
	}
	.h350pxM1024px
		height:350px;
	}
	.h400pxM1024px
		height:400px;
	}
	.h450pxM1024px
		height:450px;
	}
	.h500pxM1024px
		height:500px;
	}
	.h550pxM1024px
		height:550px;
	}
	.h600pxM1024px
		height:600px;
	}
	.h650pxM1024px
		height:650px;
	}
	.h700pxM1024px
		height:700px;
	}
	.h750pxM1024px
		height:750px;
	}
	.h800pxM1024px
		height:800px;
	}
	.h850pxM1024px
		height:850px;
	}
	.h900pxM1024px
		height:900px;
	}
	.h950pxM1024px
		height:950px;
	}
	.h1000pxM1024px
		height:1000px;
	}
}
